body		{ font-family: 'NanumSquare', sans-serif; }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

input:focus {outline:none;}
button:focus {outline:none;}

a {
  color: black;
  text-decoration: none;
  outline: none
}

a:hover, a:active {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  padding-left: 0;
}
ul {
  padding-left: 0;
}

.display-none{
  display: none;
}

.title-area {
  /* text-align: center; */
  padding-left: 10px;
  margin-top: 15px;
  display: flex;
}
.title {
  margin: 0;
  margin-left: 30px;
  font-family: 'McLaren', cursive;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  display: inline-block;
}
.title > strong {
  color: #f94e3f;
  font-weight: 800;
}

.logo-img {
  width: 25px;
  top: 21px;
  position: absolute;
}

.content-area {
  padding: 0 5px;
  margin-top: 10px;
}

.content-area .search-input-area {
  position: relative;
}

.content-area .search-input-area .search-icon {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 21px;
}

.content-area .search-input-area .search-input {
  background: #e6e6e6;
  border-radius: 15px;
  border: none;
  width: 100%;
  height: 35px;
  padding-left: 30px;
  font-size: 14px;
  text-indent: 13px;
}

.sort-button-area {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.sort-button {
  letter-spacing: -0.5px;
  font-size: 13px;
}
.sort-button.selected {
  color: #f94e3f;
  font-weight: 600;
}

.sort-button {
  background: none;
  border: none;
  color: gray;
}

.sort-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s;
}

.keyword-items-area #intro-area {
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 30px;
  color: gray;
}

.keyword-items-area #intro-area img{
  width: 170px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.keyword-items-area .keyword-items-list {
  display: flex;
  flex-direction: column;
}

.keyword-items-area .keyword-items-list .keyword-item{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 5px 5px 10px 5px;
}

.keyword-items-area .keyword-items-list .keyword-item .bell-icon{
  margin-right: 8px;
  width: 20px;
}

.keyword-items-area .keyword-items-list .keyword-item .bell-icon img{
  width: 17px;
  height: 17px;
}

.display-none{
  display: none !important;
}

.keyword-items-list .keyword-item .keyword-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.3px;
  margin-bottom: 5px;
  width: calc(100vw - 120px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap:break-word;
  height: 19px;
  cursor: default;
}

.keyword-items-list .keyword-item .util-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
}

.keyword-items-list .keyword-item .util-icon .trash-icon{
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.keyword-items-list .keyword-item .util-icon .fold-icon{
  margin-left: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.fold-icon:hover, .trash-icon:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.keyword-items-list .keyword-item .util-icon .unfold-active{
  transform: rotate( 180deg );
  -webkit-transform: rotate(180deg);
  /*transition: all ease 0.3s;*/
}


.keyword-items-list .keyword-item .search-platform {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.keyword-items-list .keyword-item .search-platform li{
  border-radius: 3px;
  padding: 3px 5px;
  margin-right: 8px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.5px;
  font-size: 11px;
}

.keyword-items-list .keyword-item .search-platform li img{
  height: 13px;
  margin-right: 2px;
}

.keyword-items-list .keyword-item .search-platform .naver-search {
  border: 1px solid #1dc800;
}

.keyword-items-list .keyword-item .search-platform .google-search {
  border: 1px solid #fabc05;
}

.keyword-items-list .keyword-item .search-platform .youtube-search {
  border: 1px solid #ff0000;
}

.keyword-items-list .keyword-item .link-list {
  display: flex;
  flex-direction: column;
}

.keyword-items-list .keyword-item .link-list li{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  letter-spacing: -0.5px;
  font-size: 11px;
  height: 16px;
}

.keyword-items-list .keyword-item .link-list li .link-origin{
  margin-right: 5px;
  width: 35px;
  letter-spacing: -1px;
  height: 16px;
  font-weight: 600;
  padding-left: 2px;
}

.keyword-items-list .keyword-item .link-list li .pin-icon {
  height: 16px;
  width: 16px;
  margin-right: 2px;
  margin-top: -0.5px;
}

.keyword-items-list .keyword-item .link-list li .pin-icon img{
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.keyword-items-list .keyword-item .link-list li .link-url{
  width: calc(100vw - 140px);
  height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap:break-word;
}

.link-url:hover {
  opacity: 0.6;
  transition: 0.2s;
}

ul.keyword-items-list.search-mode > li.keyword-item {
  display: none;
}

ul.keyword-items-list.search-mode > li.keyword-item.show {
  display: flex;
}

.sub-title {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: -0.8px;
  color: gray;
  margin-left: 1px;
}

.bell-icon img:hover {
  transform: scale(1.1);
  /*opacity: 0.7;*/
  transition: 0.2s;
  cursor: pointer;
}
