.tracking-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;


  background: transparent;
  border: 1px solid #e3e7ee;
  font-size: 12px;
  letter-spacing: -1px;
  padding: 5px 10px 5px 9px;
}

.tracking-btn:hover {
  cursor: pointer;
  color: gray;
  transition: 0.2s;
}

.tracking-btn:focus {
  outline: 0;
}

.tracking-btn-naver {
  left: 700px;
  top: 39px;
}

.tracking-btn-google {
    left: 838px;
    top: 12px;
}

.tracking-btn-active {
  color: #fc4a49;
}

.crab-area {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 40px;
  height: 40px;

  background: url('chrome-extension://__MSG_@@extension_id__/images/search-crab.png') no-repeat center center;
  background-size: cover;
}

.crab-naver {
  position: absolute;
  left: 656px;
  top: 10px;
  transform: rotate(-20deg);
}

.crab-google {
    position: absolute;
    left: 779px;
    top: 6px;
}
.crab-area-active {
  display: block;
}
