@import "reset.scss";

body {
  font-family: 'NanumSquare', sans-serif; margin: 0;
  letter-spacing: -1px;

  .normal {
    font-weight: 400
  }
  .bold {
    font-weight: 700
  }
  .bolder {
    font-weight: 800
  }
  .light {
    font-weight: 300
  }
}


input:focus {outline:none;}
button:focus {outline:none;}
button {cursor: pointer;}

a {
  color: black;
  text-decoration: none;
  outline: none
}

a:hover, a:active {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  padding-left: 0;
}
ul {
  padding-left: 0;
}

.display-none{
  display: none;
}

header {
  padding: 8px 0;
  box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.05);
}

.title-area {
  /* text-align: center; */
  padding-left: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.title {
  margin: 0;
  font-family: 'McLaren', cursive;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.title > strong {
  color: #f94e3f;
  font-weight: 800;
}

.logo-img {
  width: 25px;
  height: 25px;
  padding: 6px;
  /*top: 21px;*/
  /*position: absolute;*/
}

.title-img {
  width: 142px;
  height: 33px;
}

.search-input-area {
  position: relative;
  margin: 8px;
}

.search-input-area .search-icon {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 21px;
}

.search-input-area .search-input {
  background: #fafafa;
  border-radius: 15px;
  border: 1px solid #eeeeee;
  width: 100%;
  height: 35px;
  padding-left: 30px;
  font-size: 14px;
  text-indent: 13px;
}

.sort-button-area {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.sort-button {
  letter-spacing: -0.5px;
  font-size: 13px;
}
.sort-button.selected {
  color: #f94e3f;
  font-weight: 600;
}

.sort-button {
  background: none;
  border: none;
  color: gray;
}

.sort-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s;
}

main {
  padding: 0 16px;
  margin-top: 16px;
  background-color: #E8E8E8;

  .card {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #F0F0F0;

    .card--header{
      padding: 16px 16px;
      border-bottom: 1px solid #F0F0F0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      .card--header__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .card--header__title {
          font-size: 16px;

          .card--header__bell img{
            width: 16px;
            height: 15px;
            margin-right: 4px;
          }
        }

        .card--header__icons img{
          width: 16px;
          height: 16px;
          padding: 0 4px;
        }

      }

      .card--header__shortcuts {
        display: flex;

        li {
          margin-right: 8px;
        }
      }
    }
  }
}
